@import "tailwindcss";

.formkit-wrapper {
    max-width: 100%;
}

[data-type="submit"] .formkit-input {
    margin-top: 25px;
}
[data-type="submit"] .formkit-input:hover {
    background-color: #4f46e5;
    color: white;
   
}
